@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid; */
}

:root{
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --font-body: 'Open Sans', sans-serif;;
    --font-headings: 'Poppins', sans-serif;;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--font-body);
    color: #fff;
    background-color: var(--Violet);
}

.bg{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(10, 10vh);
    position: absolute;
    z-index: -1;
}

.bg__item1 {
    grid-row: 1 / -1;
    overflow: hidden;
}

.bg__item2{
    display: none;
}

.container{
    width: 90%;
    margin: 20px 0 0 0;
}

.logo__container{
    width: 16%;
}

.logo{
    display: block;
    width: 100%;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.image__container{
    margin-top: 50px;
}

.image{
    display: block;
}

.hero__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.hero__title{
    font-family: var(--font-headings);
    font-weight: 700;
    font-size: 2.2rem;
}

.hero__description{
    font-size: 18px;
    line-height: 1.5;
}

.hero__cta{
    width: 40%;
    padding: 13px;
    font-family: var(--font-headings);
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: var(--Violet);
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 4px 5px 20px -1px rgb(31 31 31 / 42%);
}

.hero__cta:hover{
    color: #fff;
    background-color: var(--Soft-Magenta);
}

.footer__navbar{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}

.container__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    gap: 35px;
}

.icons{
    display: block;
    width: 20px;
    height: 20px;
}

@media screen and (max-width:1024px) {

    body {
        display: initial;
        text-align: center;
    }

    .container{
        margin: auto;
    }

    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero__title{
        width: 90%;
        font-size: 22px;
    }

    .hero__description{
        width: 90%;
        font-size: 15px;
    }

    .hero__cta{
        padding: 10px;
        width: 60%;
        font-size: 12px;
    }
    
    .image__container{
        margin-top: 50px;
    }

    .image{
        width: 80%;
        margin: auto;
    }
    
    .logo__container{
        width: 40%;
        margin: 30px 0 0 30px;
    }
    
    .footer__navbar {
        display: flex;
        justify-content: center;
        padding: 0;
    }
    
    .container__icons {
        margin: 45px 0;
        gap: 30px;
    }

    .icons{
        width: 15px;
        height: 15px;
    }

    .bg{
        grid-template-rows: repeat(6, 10vh);
    }
    
    .bg__item1 {
        display: none;
    }
    
    .bg__item2{
        display: block;
        grid-row: 1/-1;
    }

    .bg__item2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
