@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*fonts*/
	--font-headings: 'Open Sans', sans-serif; 
	--font-body: 'Raleway', sans-serif; 

    /* colors */
    --dark-blue-intro: hsl(217, 28%, 15%);            
    --dark-blue-testimonios: hsl(219, 30%, 18%);    
    --dark-blue-main: hsl(218, 28%, 13%);          
    --dark-blue-footer: hsl(216, 53%, 9%) ;          

    /* Acentos */
    --cyan: hsl(176, 68%, 64%);           
    --blue: hsl(198, 60%, 50%);             
    --light-red: hsl(0, 100%, 63%);        
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: var(--font-body);
    background-color: var(--dark-blue-intro);
}

.container{
    width: 90%;
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
}

.header__nav{ /* barra navegacion */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px 0 25px;
    padding: 10px 0 20px;
}

.container__links{  /* flex links */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

 .hero__link{  /*links */
    display: inline-block;
    padding: 5px;
    font-size: .8rem;
    text-decoration: none;
    color: var(--white);
}

.hero__link:hover{
    font-weight: 900;
    text-decoration: underline;
}

.header__figure{
    width: 30%;
}

.logo{
    display: block;
    width: 80%;    
}

.illustration{
    display: block;
    width: 92%;
    margin: auto;
}

.section__flex{ /* flex, ilustracion, texts */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
    padding: 10px;
    padding-bottom: 25px;
    gap: 15px;
}

.title{
    line-height: 2.3rem;
    color: var(--white);
}

.paragraph{
    font-size: 13px;
    line-height: 22px;
    word-spacing: 1px;
    color: var(--white);
}

.cta{
    display: inline-block;
    padding: 16px 82px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    border-radius: 50px;
    background-color: var(--blue);
}

.cta:hover{
    background-color: var(--cyan);
    cursor: pointer;
}

.wave{
    position: absolute;
    top: -253px;
    background: url(images/bg-curvy-mobile.svg) no-repeat center;
    background-size: contain; 
    width: 100vw;
    height: 63vh;
    z-index: -1;
}

/** main **/

.main{
    background-color: var(--dark-blue-main);
    position: relative;
}

.main__section__top{
    padding-top: 50px;
}

.container__main__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 15px 15px 40px;
    gap: 5px;
}

.main__images{  /* iconos imagenes */
    display: block;
    margin: auto;
    width: 75%;
}

.paragraph--main{
    font-size: 14px;
    padding: 15px 0 20px;
    font-family: var(--font-headings);
}

.main__illustration{ /* ilustracion central */
    display: block;
    width: 100%;
    padding: 60px 0 50px;
}

.main__container__texts{ /* flex textos */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
}

.cta__flex{ /* cta flex */
    display: flex;
    justify-content: center;
    gap: 5px;
}

.main__cta{  /* cta sin fondo */
    font-size: 11px;
    text-decoration: none;
    border-bottom: 1px solid;
    color: var(--cyan);
}

.cta__flex:hover > *{
    color: var(--white);
    filter: saturate(0) brightness(1.3);
}

.subtitle{
    padding-left: 5px;
    font-size: 18px;
    margin-top: 30px;
    color: var(--white);
}

.subtitle--cambio{
    margin-top: -10px;
    font-size: 17px;
}

/** cards **/

.main__card{ /* son las cartas */
    text-align: left;
    margin: 30px 0px;   
    border-radius: 5px;
    background-color: var(--dark-blue-testimonios);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.048);
    position: relative;
    z-index: 2;
}

.quote{
    position: relative;
    top: 37px;
    left: -3px;
    width: 32px;
    height: 32px;
    background: url(images/bg-quotes.png) no-repeat center;
    background-size: contain;
    margin-top: 50px;
    z-index: 1;
}

.main__card:hover{
    background-color: hsla(180, 81%, 36%, 0.774);
    transition: .8s ease;
    animation: 2.5s infinite alternate ease escale;
}

@keyframes escale {
    from{
        transform: scale(1);
    }

    to{
    transform: scale(1.02);
    }
}

.card__flex{ /* flex para todo dentro de la card */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 20px 25px 25px;   
    gap: 15px;
}

.profile__flex{ /* flex para imagen y textos */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.datos__flex{ /* flex para solo textos */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.paragraph--cards{  /* texto de la card*/
    font-size: 11px;
    font-family: var(--font-headings);
}

.card__figure{  
    width: 10%;
}

.img__profile{  /* foto perfil */
    display: block;
    width: 100%;
    border-radius: 50%;
}

.card__name{
    font-size: 12px;
    color: white;
}

.card__puesto{
    font-size: 12px;
    color: white;
}

.main__section__final{
    padding-bottom: 300px;
}

/* aside */

.aside{ 
    max-width: 600px;
    width: 90%;
    position: absolute;
    top: -200px;
    border-radius: 10px;
    background-color: var(--dark-blue-main);
    box-shadow: 0 0 40px 0px rgb(0 0 0 / 32%);
}

.aside__flex{ /* flex para los elementos del aside */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
}

.form__aside{
    display: block;
    width: 100%;
    height: 100%;
}

.imput__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.input__aside{
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    padding: 18px 60px;
    padding-left: 40px;
    border-radius: 50px;
    border: none;
}

.cta--aside{
    padding: 18px 60px;
}

/* footer */

.footer{
    position: relative;
    background-color: var(--dark-blue-footer);
}

.container--footer{
    padding: 230px 0 50px;
}

.flex__footer{
    display: flex;
    text-align: left;
    justify-content: center;
}

.contact__icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__texto{
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 5px;
    gap: 18px;
}

.footer__logo__container{
    width: 50%;
    margin: 0 10px 40px 20px;
}

.footer__logo{
    width: 100%;
    display: block;
}

.icons{
    width: 80%;
    padding: 5px;
}

.icon-location{
    margin-bottom: 85px;
}

.icon-phone{
    margin-bottom: 13px;
}

/* relacionados */
.section__social{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: 50px;
}

.container__social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    list-style: none;
    padding: 5px;
    gap: 20px;
}

.social__links{
    display: inline-block;
    font-family: var(--font-open);
    text-decoration: none;
    color: var(--white);
}

.container__contact--desktop{  /*contact, icons lo volvi a hacer*/
    display: none;
}

.main{
    padding-bottom: 250px;
}


@media screen and (min-width:1240px) {

    .container{
        max-width: 95%;
        width: 95%;
    }

    .header__nav{
        margin: 0;
        padding: 75px 70px 40px;
    }

    .logo{
        width: 45%;
    }

    .container__links{  /* los enlaces del header */
        gap: 50px;
    }

    .hero__link{
        font-size: 1rem;
    }

    .illustration{
        width: 52%;
        margin-top: 30px;
    }

    .section__flex{  /* flex del titulo principal */
        margin: 0;
        padding: 40px;
        gap: 50px;
    }
    
    .title{
        width: 60%;
        font-size: 2.4rem;
        line-height: 1.5;
    }

    .paragraph--title {
        width: 50%;
        font-size: 1.2rem;
        line-height: 1.7rem;
        padding: 10px 20px;
        margin-top: -33px;
    }

    .cta--title{
        font-size: 16px;
        padding: 19px 95px;
        margin-top: -30px;
    }

    /** main **/

    .main{
        padding-bottom: 0;
    }

    .main__section__top{
        padding-top: 0;
    }

    .container__grid{
        width: 75%;
        display: grid;
        margin: 0 auto;
        padding-top: 50px;
        grid-template-columns: repeat(2, 50%);
        grid-auto-rows: auto;
    }

    .main__images{  /* iconos tamaño */
        width: 100%;
    }

    .subtitle--main{
        font-size: 1.2rem;
        margin-top: 20px;
    }
    
    .paragraph--main{
        width: 80%;
        font-size: .85rem;
        line-height: 1.5rem;
        padding: 0;
    }

    .container__main__cambio{ /* para quitar margin a los de abajo */
        margin-top: 0;
    }


    /** ilustracion **/

    .container__figure{  /* acomoda la imagen y textos */
        display: flex; 
        justify-content: space-between;
        align-items: center;
        margin: 79px 0;
        gap:60px;
    }

    .central__figure{
        margin-left: 60px;
    }

    .main__illustration{
        padding: 0;
    }
    
    .subtitle--cambio {
        width: 60%;
        font-size: 2.3rem;
        margin-top: 0;
    }
    
    .main__container__texts{  /* textos a lado de la ilustracion */
        width: 50%;
        margin: 55px 0 0 -25px;
        padding: 20px;
        padding-left: 0;
        gap: 20px;
    }
    
    .paragraph--ilustracion{
        width: 80%;
        font-size: 1rem;
    }
    
    .main__cta{
        font-size: 1rem;
        font-family: var(--font-headings);
    }
    
    .arrow {
        width: 23px;
        display: block;
        height: 100%;
    }

    /* cards */
    .cartas__flex{
        display: flex;
        align-items: center;
        padding: 57px 95px 315px;
        gap: 45px;
    }

    .paragraph--card{
        font-size: 12px;
        line-height: 20px;
    }    

    .main__card{
        width: 330px;
    }

    /* aside */
    .aside{
        max-width: 800px;  
        top: -147px;
        left: 253px;
        padding: 20px 0 30px;
        box-shadow: -6px -8px 20px -10px #ffffff47, 14px 14px 19px -10px rgb(0 0 0 / 35%);
    }

    .subtitle--aside{
        font-size: 2rem;
        margin: 0;
    }

    .paragraph--aside{
        width: 80%;
        font-size: 14px;
        margin: auto;
        margin-bottom: 15px;
    }

    .imput__container{   /* tamaño para el input */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 50px;
        gap: 30px;
    }

    .cta--aside{
        padding: 11px 55px;
        font-size: 12px;
    }

    .aside__flex{
        gap: 20px;
    }
    
    /* footer */

    .footer__logo__container{
        width: 9%;
        margin-left: 55px;
        margin-right: 0px;
    }

    .footer__logo{
        width: 100%;
    }
    
    .container--footer{
        padding: 156px 0 0;
    }
    
    .container__contact{
        display: none;
    }

    /* footer-desktop */
    .container__contact--desktop{
        display: flex;
        text-align: left;
        align-items: flex-start;
        margin-left: 55px;
        padding-bottom: 31px;
        gap: 90px;
    }

    .contact__texto--desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .primer{
        display: flex;
        gap: 30px;
        width: 30%;
    }

    .contact__desktop{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .container__social--desktop{ 
        display: flex;
        align-items: flex-start;
        gap: 50px;
    }

    .wave{
        position: absolute;
        top: -430px;
        background: url(images/bg-curvy-desktop.svg) no-repeat center;
        background-size: contain; 
        width: 100%;
        height: 65vh;
        z-index: -1;
    }

    .quote{
        position: relative;
        top: 121px;
        left: 58px;
        width: 100px;
        height: 100px;
        background: url(images/bg-quotes.png) no-repeat center;
        z-index: 1;
    }
}
